.footer{
    position: relative;
    width: 100%;
    background: var(--color-blanco-roto);
    color: var(--color-chocolate);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #5D4037;
}

.icon-element{
    list-style: none;
}

.icon{
    font-size: 32px;
    display: inline-block;
    margin: 15px;
    transition: 0.5s;
    
}

.icon:hover{
    transform: translateY(-10px);
}

.linkedin{
    color: #0A66C2;
}

.youtube{
    color: #FF0000;
}

.facebook{
    color: #1877F2;
}

.instagram{
    color: #E1306C;
}

.twitter{
    color: #1DA1F2;
}