@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf')format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: url('./fonts/Pacifico/Pacifico-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767.98px) {
    #logo-container {
        flex-direction: column !important;
        text-align: center;
    }
    #logo-container img {
        margin-bottom: 1rem;
    }
    #logo-container h1 {
        font-size: 2rem;
    }
}

:root{
    --color-cream-pastel: #FFF5E1; /* Fondo Principal */
    --color-soft-pink: #FFC0CB; /* Botones y elementos */
    --color-chocolate: #8B4513; /* Botones y elementos */
    --color-blanco-roto: #F8F6F4; /* Fondo de tarjetas y elementos secundarios */
    --color-rosa-pastel: #FDEEEB; /* Fondo de tarjetas y elementos secundarios */

    --color-text-primary: #5D4037;    /* Marrón Oscuro */
    --color-text-secondary: #B0BEC5;  /* Gris Claro */

    /* Fuentes */
    --font-primary-lato: 'Lato', sans-serif; /* Texto general */
    --font-header-pacifico: 'Pacifico', cursive; /* Titulos y encabezados */
}

::selection {
  background: var(--color-chocolate); /* color de fondo al seleccionar */
  color: var(--color-soft-pink);      /* color del texto seleccionado */
}

::-moz-selection { /* Para Firefox */
  background: var(--color-chocolate);
  color: var(--color-soft-pink);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

<<<<<<< HEAD
body {
  margin: 0;
  /*display: flex;
  place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
=======
body{
    background-color: var(--color-cream-pastel);
    font-family: var(--font-header-pacifico), cursive;
    padding-top: 70px;
>>>>>>> c02ed7052e3b34a5e189d0da2722272ca7ac7d30
}

body h1 {
    font-family: var(--font-header-pacifico);
    color: var(--color-text-primary);
    margin: 30px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* PARA EL FOOTER */
.footer{
    position: relative;
    width: 100%;
    background: var(--color-blanco-roto);
    color: var(--color-chocolate);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #5D4037;
}

.icon-element{
    list-style: none;
}

.icon{
    color: var(--color-chocolate);
    font-size: 32px;
    display: inline-block;
    margin: 15px;
    transition: 0.5s;
    
}

.icon:hover{
    transform: translateY(-15px);
}
/* PARA EL FOOTER */
